/** Custom CSS **/

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-regular.woff') format('woff'),
         url('../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/myriadpro-light.eot');
    src: url('../fonts/myriadpro-light.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-light.woff') format('woff'),
         url('../fonts/myriadpro-light.ttf') format('truetype'),
         url('../fonts/myriadpro-light.svg#MyriadProLight') format('svg');
}


a, a:active, a:focus {
    text-decoration: none;
    color: #102d69;
    font-family: 'MyriadProRegular';
    font-size: 16px;
    
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 787px;
    height: auto;
}

.c-center {
   padding: 15px 0px 15px 30px;
   background-color: #f6f6f6; 
   box-shadow: inset 0 0 10px #d8d8d9, inset 0 0 10px #d8d8d9;
   border-left: 1px solid #bdbdbb;
   border-right: 1px solid #bdbdbb;
    
}
p {
   padding-right: 30px;   
}
.lang-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 25px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mrb10 {
    margin-right: 10px;
    margin-bottom: 8px;
}
.fm {
    font-family: 'MyriadProRegular';
    font-size: 16px;
    color: #333;
}
.fbig {
    font-family: 'MyriadProLight';
    font-size: 40px; 
    color: #000; 
}
.grey {
    color: #706f6f; 
}
.clear {
    clear: both;   
}
.big-pic {
    width: 297px;   
}
.small-pic {
    width: 138px;   
}
.top-pic {
    width: 636px;   
}
.rm10 {
   margin-right: 25px;  
}
.rml10 {
    margin-left: 422px;   
}
.rml80 {
    margin-left: 83px;   
}