@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 570px) {

}

@media only screen and (max-width: 480px) {

}

/** iPhone only **/
@media screen and (max-device-width: 480px) {

}

                                          
@media only screen and (max-width: 570px) {
    img {
        width: 100%;   
    }
    .clearfix-top {
        height: 0px;
        margin: 0px;
        padding: 0px;   
    }
    .clearfix-bottom {
        display: none;   
    }
    .clear {
        height: 0px;   
    }
    .mrb10 {                     
        margin-right: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .container {
        width: 100%;   
    }
    .c-center {
        padding: 5px 10px 5px 20px;
/*        box-shadow: none;*/
    }
    .fbig {
        font-size: 24px;
        margin-top: 30px;   
    }
    .rw260, .rw260 img {
        width: 260px;   
    }
    .rw130, .rw130 img {
        width: 125px;   
    }
    .rw_i {
        display: none;   
    }
    .rm10 {
        margin-top: 10px;
        margin-right: 10px;   
    }
    .rw50, .rw50 img, .rw50_x, .rw50_x img {
        width: 60px;   
        height: auto;
    }
    .rw50_x, .rw50_x img {
        height: 40px;
        width: auto;
        margin-top: -5px;
    }
    p {
        padding-right: 40px;   
    }
    .big-pic {
        width: 100%;   
    }
    .small-pic {
        width: 100%;   
    }
    .mt10 {
        margin-top: 0px;   
    }
    .rmr5 {
        margin-right: 10px;   
    }
    .rmt5 {
        margin-top: 3px;   
    }
    .rmt10 {
        margin-top: 10px;   
    }
    .rml10 {
        margin-left: 60px;   
    }
    .top-pic {
        width: 100%;   
    }
    .rml80 {
        margin-left: 0px;   
    }
    
    
    
}